<div class="row" >
  <div class="large-12 columns intro concert-page">
    <h1>Results</h1>
    <h2>Your score was <%= @prediction_score %>!  Here's the real setlist: </h2>
  </div>
</div>

<div class="row">
  <div class="panel phishbowlpanel">
    <h1><%= @concert.venue %></h1>
    <h2><%= @concert.concert_date %></h2>
    <h3><%=@concert.city %> , <%= @concert.state %></h3>
    <hr/>

    <% @concert.concert_songs.each do |concert_song| %>
        <ul>
          <li><%= concert_song.song.song_name %></li>
        </ul>
    <% end %>

  </div>

  <%= link_to "Home", dashboard_index_path, class: "button radius enter" %>

</div>

<script type="text/javascript">
  var correctSongs = <%= raw @songs_in_right_place.to_json %>;
</script>
