
<div class="row">
  <hr>
  <div class="large-12 columns intro concert-page">
    <h1><%= @concert.venue %></h1>
    <h2><%= @concert.concert_date %></h2>
    <h3><%=@concert.city %> , <%= @concert.state %></h3>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to "Play Phantasy Phishbowl!",  new_concert_prediction_path(@concert), class: "button radius enter" %>
  </div>
</div>


<h2>Predictions</h2>
<ul>
  <% @concert.predictions.each do |picks| %>
    <%= link_to "Check Score", concert_prediction_path(@concert, picks.id) %>
    <h3><%= picks.user.email %></h3>
    <li><%= picks.set_one_opener_song.song_name %></li>
    <li><%= picks.set_one_closer_song.song_name %></li>
    <li><%= picks.set_two_opener_song.song_name %></li>
    <li><%= picks.set_two_closer_song.song_name %></li>
    <li><%= picks.encore_song.song_name %></li>
    <li><%= picks.random_pick_song.song_name %></li>
  <% end %>
</ul>
